@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'vazir';
  font-weight: 500;
  src: url('./assets/Vazir-Regular-FD.ttf') format('truetype');
}
@font-face {
  font-family: 'vazir';
  font-weight: 800;
  src: url('./assets/Vazir-Bold-FD.ttf') format('truetype');
}

:root {
  font-family: 'vazir', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

