@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply .light;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-border-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-border-accent: #2b6cb0;
}

@font-face {
  font-family: "vazir";
  font-weight: 500;
  src: url("../src/assets/Vazir-Regular-FD.ttf") format("truetype"),
    url("../src/assets/Vazir-Regular-FD.woff") format("woff"),
    url("../src/assets/Vazir-Regular-FD.woff2") format("woff2");
}
@font-face {
  font-family: "vazir";
  font-weight: 800;
  src: url("../src/assets/Vazir-Bold-FD.ttf") format("truetype"),
    url("../src/assets/Vazir-Bold-FD.woff") format("woff"),
    url("../src/assets/Vazir-Bold-FD.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
  transition: all 300ms;
}

:root {
  font-family: "vazir", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
  background-image: url("./assets/image/curve.svg");
  background-size: 100%;
  background-position: top;
}
